body {
  background-image: url("./imagens_aposta/fundo.jpg");
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #2c2f33;*/
  color: #ffffff;
  margin: 0;
  position: relative;
}
.game-container {
  background: #1c1e21;
  padding: 20px;
  border-radius: 10px;
  width: 650px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.balance-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.balance-panel h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.balance-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.balance-info span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #2ecc71;
}
.bet-input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 120px;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  outline: none;
}
.color-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.color-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.color-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.red {
  background-color: #ff4c4c;
}
.white {
  background-color: #d1cccc;
  color: #000;
}
.black {
  background-color: #4a4a4a;
}
#startButton {
  background-color: #e74c3c;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
#startButton:hover {
  background-color: #c0392b;
}
#startButton:active {
  transform: scale(0.95);
}
.history {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.history-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  transition: transform 0.3s;
}
.history-item:hover {
  transform: scale(1.1);
}
.red-bg {
  background-color: #ff4c4c;
}
.white-bg {
  background-color: #f0f0f0;
  color: #000;
}
.black-bg {
  background-color: #4a4a4a;
}
.feedback {
  margin-top: 15px;
  font-size: 18px;
  transition: opacity 0.3s;
}
.feedback.win {
  color: #2ecc71;
}
.feedback.lose {
  color: #e74c3c;
}
#backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
#backButton:hover {
  background-color: #f10d0d;
}
#backButton:active {
  transform: scale(0.95);
}